body{
    margin:0;
}
.main{
    display: flex;
    flex: 1;
    height: 80vh;
}

header, footer {
    display: flex;
    flex-direction: column;
    background: powderblue;
    height:10vh;
    justify-content: center;
    padding-left: 20px;
}
.nav{
    flex: 0 0 20vh;
    order: -1;
    background: salmon;
    display: flex;
    align-items: center; 
    padding-left: 20px;
}
.article{
    flex:1;
    background:sandybrown;
    display: flex;
    align-items: center; 
    padding-left: 20px;
}
